//
//  Debug.xcconfig
//  RATwitter
//
//  Created by Dmitriy Dmitriev on 14.02.16.
//  Copyright © 2016 Dmitriy Dmitriev. All rights reserved.
//

#include "Common.xcconfig"
#include "Pods/Target Support Files/Pods/Pods.debug.xcconfig"

COPY_PHASE_STRIP = NO
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG=1